@import "tailwindcss";

@theme {
  --color-primary-dark: #5e131d;
  --color-primary-light: #fdf2f2;
  --color-secondary: #fae8e8;
  --color-text-main: #1f2937;
  --color-text-muted: #6b7280; 

  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;

  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2rem;
}

body {
  font-family: var(--font-sans);
  color: var(--color-text-main);
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
}
